  /* footer */
  .footer {
    text-align: center;
    background-color: #282A2A;
    padding: 20px;
    color: white;
}

.footer h3 {
  color: #FF8A00;
  margin-bottom: 15px;
  font-weight: 700;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 122px;
}

.left-align-container {
  text-align: left;
}

.follow-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 122px;
}

.socmed-icons-container {
  display: flex;
  justify-content: flex-end;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a.logo-spacer {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.footer a:hover {
  color: #FF8A00;
  text-decoration: none;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}