
.container-fluid {
    padding: 0px 20px;
}
  
#logo {
    font-size: 30px;
    font-weight: bold;
}

.navbar.navbar-expand-lg {
    display: flex !important;
}

.navbar {
    padding: 10px;
}

.navbar-brand:hover {
    color:black;
}

.dropdown-item:hover {
    color:#FF8A00;
}

.navbar-brand {
    color: #ff8a00;
}

#searchbar {
    margin-right: 10px;
    margin-top: 2.5px;
    border-radius: 16px;
}

.nav-link {
    background-color: transparent;
    color: white;
}

.navbar-nav .nav-item {
    list-style: none;
    font-size: 18px;
}

.nav-link:hover {
    color: #ff8a00;
}

#destinationsDropdown:focus {
    color: #ff8a00;
}

.nav-link {
    color: black;
}

.nav-pills .nav-link:focus {
    color: #ff8a00;
    background-color: transparent;
}

.nav-pills .nav-link.active {
    background-color: #ff8a00;
    color: #ffffff;
}

.navbar-profile-icon {
    color: black;
    font-size: 40px;
}

#loginBtn, #mainLoginBtn, #logout {
    background-color: #ff8a00;
    padding: 8px 30px;
    border-radius: 30px;
    border: 1px solid;
} 

#logout.hover, #logout.focus {
    background-color: transparent;
    color: none;
    transition: 0.3s ease;
}
