.container-fluid {
    padding: 0px 20px;
}
  
#logo {
    font-size: 30px;
    font-weight: bold;
}

.navbar.navbar-expand-lg {
    display: flex !important;
}

.navbar {
    padding: 10px;
}

.navbar-brand:hover {
    color:black !important;
}

nav .dropdown-item:hover {
    color:#FF8A00 !important;
    background-color: transparent !important;
}

.navbar-brand {
    color: #ff8a00 !important;
}

#searchbar {
    margin-right: 10px;
    margin-top: 2.5px;
    border-radius: 16px;
}

.nav-link {
    background-color: transparent;
    color: white;
}

.navbar-nav .nav-item  {
    list-style: none;
    font-size: 18px;
    padding: 0px 10px;
}

.nav-item2 {
    padding: 0px 10px;
}

.nav-link:hover {
    color: #ff8a00;
}

#destinationsDropdown:focus {
    color: #ff8a00;
}

.nav-link {
    color: black;
}

.nav-pills .nav-link:focus {
    color: #ff8a00;
    background-color: transparent;
}

.nav-pills .nav-link.active {
    background-color: #ff8a00;
    color: #ffffff;
}

.navbar-profile-icon {
    color: black;
    font-size: 40px;
}

#loginBtn, #mainLoginBtn, #logout, #login2 {
    background-color: #ff8a00;
    padding: 8px 30px;
    border-radius: 30px;
    border: 1px solid;
} 

#logout.hover, #logout.focus {
    background-color: white;
    color: none;
    transition: 0.3s ;
}

/* profile dropdown */

.fa-user-circle-o {
    padding-top: 8px !important;
    font-size: 26px !important;
    color:#282A2A !important; 
}

.fa-user-circle-o:hover {
    color:#ff8a00 !important; 
}

nav .profile-dropdown {
    position: absolute;
}
  
nav .dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    list-style: none;
}
  
nav .dropdown-menu-right li {
    margin: 10px 0px;
    padding-left: 30px;
}

nav .dropdown-menu li {
    margin-bottom: 5px;
}

nav .profile-dropdown a {
    color: black !important;
}

nav a.dropdown-item {
    padding-left: 0px !important;
}

nav .profile-dropdown a:hover  {
    color: #FF8A00 !important;
    text-decoration: none !important;
}
  
nav .dropdown-toggle:focus + .dropdown-menu {
    display: block;
}

nav .dropdown-toggle:focus {
    outline: none;
}