:root {
    font-family: 'Poppins', sans-serif;
}

.container {
    border: 5px;
    border-radius: 5px;
}

#logo {
    font-size: 30px;
    font-weight: bold;
}

.navbar {
    padding: 10px;
}
  
.navbar-brand {
    color: black;
}
  
.navbar-nav .nav-item {
    list-style: none;
    font-size: 18px;
}

.navbar-nav .nav-link {
    color: black;
    text-decoration: none;
}

#searchbar {
    margin-right:10px;
    margin-top:2.5px;
}

.search-input:focus {
    outline: none;   
}
#searchResultsDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    margin-right:10px;
    margin-top:2.5px;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: none;
}


#logout, #save, #login2 {
    background-color: #ff8a00;
}

.modal-dialog {
    max-width: 350px; 
    border-radius: 50px;
}

.profile-container2 {
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    height: 80vh;
}

.profile-picture2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.nav-link {
    background-color: transparent;
    color: black;
    text-align: left;
}
  
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  color: #ff8a00;
  background-color: transparent;
 
}

.nav-pills .nav-link.active {
  background-color: #ff8a00;
  color: #ffffff;
}

.content-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    height: 80vh;    
    overflow-y: auto;

}

.description {
    padding-top: 10px;
    padding-bottom: 20px;
}

.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
}
  
.left-container {
    grid-column: 1;
}
  
.right-container {
    grid-column: 2;
}

