@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PoppinsBold:wght@500&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif !important;
}


.ctr {
    width: 100%;
    padding: 3% 0% 0% 12%;
}

.col-sm-6 {
  padding-top: 2%;
}

.col-12 h3 {
  color: gray;
  font-style: italic;
  font-size: 22px;
}

.slide-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 60px 0px;
}


.reviews-container {
  padding: 0px 80px 80px 80px;
}

.image-text {
    color: gray;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
  }

  .image-text h4 {
    font-weight: 600;
    color: black;
    font-size: 18px;
    padding: 0px;
  }

  .image-text h4, .image-text p {
    margin: 10px;
}

  
  .destination-slide {
    flex-basis: calc(25%); 
    margin: 20px 10px;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
    
    max-height: 100%;
}

.oratings {
  font-size: 14px;
}


  .destination-slide img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .fa-star {
    color: #ffca00;
    background-color: transparent;
}
  
