:root {
    font-family: 'Poppins', sans-serif;
}

.modal-content .modal-title span {
    display: block;
    border-radius: 50px;
}
  
.modal-content .modal-title span.color-text {
    color: #3498a7;
}

.modal-dialog {
    max-width: 350px; 
    border-radius: 50px;
}

.custom-input {
    background-color: #ebebeb;
}

.modal-title-custom {
    font-size: 40px;
    margin-top: -50px;
    margin-bottom: -10px;
    padding: auto;
}

#juander {
    color: #3498a7;
    display: inline;
}

.forgot-password{
    color: #737373;
}

#loginBtn {
    background-color: #ff8a00;
}

#registerLink {
    color:#ff8a00;
}