<link rel="stylesheet" href="static/css/nav.css">
<link rel="stylesheet" href="static/css/footer.css">
<link rel="stylesheet" href="static/css/searchresults.css">
<link rel="stylesheet" href="static/css/indivpage.css">
{{>navbar}}
<h1> An error has occured</h1>