<div class="container">
        <div class="row">
            <div class="col-lg-3 left-container">
                <div class="profile-container2">
                    <img src="../images/sample_review_1/pfp.png" alt="Profile Picture" class="profile-picture2">
                    <h4 class="name">{{profile-name}}</h4>
                    <h6 class="description">{{profile-desc}}</h6>
                    
                    <ul class="nav flex-column nav-pills mt-3">
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#reviews">Reviews</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9 right-container">
                <div class="content-container">
                    <div class="tab-content">
                        <div id="reviews" class="tab-pane fade">
                            <h1>Reviews</h1>
                            <div class="reviews-container">
                              <!-- Review containers will be added here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    