    <div class="ctr">
        <div class="row">
            <div class="col-12">
                <h2>Results for "relaxing destination"</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>332 results found</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="dropdownMenu2">Sort by:</label>
                    </div>
                    <div class="dropdown rating">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Helpful
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Helpful</button>
                        <button class="dropdown-item" type="button">Recently added</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="slide-container">

        <div class="destination-slide">
            <a href="guestviews/balesin-island-club.html"> 
            <img src="./images/balesin.png" class="img-slider">
            <div class="image-text">
                <p> Private beach resort · Quezon</p> <h4> Balesin </h4>
                <p class ="oratings"> <i class="fa fa-star" aria-hidden="true"> </i> 4.8 overall ratings </p>
            </div>
            </a>
        </div>
        
        <div class="destination-slide">
            <a href="guestviews/masungi-georeserve.html"> 
            <img src="./images/masungi.png" class="img-slider">
            <div class="image-text">
                <p> Geological park · Rizal</p> <h4> Masungi Georeserve </h4>
                <p class ="oratings"> <i class="fa fa-star" aria-hidden="true"> </i> 4.8 overall ratings </p>
            </div>
            </a>
        </div>
        
        <div class="destination-slide">
            <a href="guestviews/manila-ocean-park.html">
            <img src="./images/ocean park.png" class="img-slider">
            <div class="image-text">
                <p> Oceanarium · Manila</p> <h4> Manila Ocean Park </h4>
                <p class ="oratings"> <i class="fa fa-star" aria-hidden="true"> </i> 4.8 overall ratings </p>
            </div>
            </a>
        </div>
        
        <div class="destination-slide">
            <a href="guestviews/baguio-country-club.html">
            <img src="./images/baguio country club.png" class="img-slider">
            <div class="image-text">
                <p> Retreat & historical landmark  · Baguio</p> <h4> Baguio Country Club </h4>
                <p class ="oratings"> <i class="fa fa-star" aria-hidden="true"> </i> 4.8 overall ratings </p>
            
            </div></a>
        </div>
        
        
        <div class="destination-slide">
            <a href="guestviews/the-manila-hotel.html">
            <img src="./images/manila hotel.png" class="img-slider">
            <div class="image-text">
                <p> Private hotel · Manila</p> <h4> Manila Hotel</h4>
                <p class ="oratings"> <i class="fa fa-star" aria-hidden="true"> </i> 4.8 overall ratings </p>
            </div>
        </a>
        </div>
    </div>