<div class="add-review-container">
    <button class="add-review" data-bs-toggle="modal" data-bs-target="#reviewModal">Add Your Review</button>
</div>
<!-- Add Your Review Form -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered review-modal-sizer">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Add Your Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reviewForm">
                <div class="mb-3">
                    <label for="reviewTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="reviewTitle" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Rating</label>
                    <div class="reviewer-rating-container">
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="reviewContent" class="form-label">Review</label>
                    <textarea class="form-control" id="reviewContent" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="reviewPhoto" class="form-label">Upload Photo</label>
                    <input type="file" class="form-control" id="reviewPhoto" multiple>
                </div>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary review-cancel-button" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary review-submit-button">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="add-review-container">
    <button class="add-review" data-bs-toggle="modal" data-bs-target="#editReviewModal">Edit Your Review</button>
</div>

<!-- Edit Review Form -->
<div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="editReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered review-modal-sizer">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Edit Your Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="reviewTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="reviewTitle" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Rating</label>
                    <div class="reviewer-rating-container">
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                        <i class="fa fa-star fa-xl reviewer-rating-unselected reviewer-rating-star"></i>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="reviewContent" class="form-label">Review</label>
                    <textarea class="form-control" id="reviewContent" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="reviewPhoto" class="form-label">Upload Photo</label>
                    <input type="file" class="form-control" id="reviewPhoto">
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger review-delete-button" >Delete Review</button>
                <button type="button" class="btn btn-secondary review-cancel-button" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary review-submit-button">Apply</button>
            </div>
        </div>
    </div>
</div>

