<div class="section4-positioner">
        <div class="section4">
            <span class="s4-header">FAQs</span>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            What is the validity period of this voucher and where can I find this?
                        </button>
                    </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You may refer to your voucher under the 'How To Use' -> 'Usage Validity' section for the validity period information!</div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Are face coverings / face masks mandatory to enter?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">At the moment, yes. Entry of all guests is subject to the most current Inter-Agency Task Force for the Management of Emerging Infectious Diseases (IATF-EID) guidelines; including the wearing of face masks and face shields.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            I have more questions. Who can I talk to?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">You may contact our support using <a href="#">this link</a>.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>