<div class="section5-positioner">
        <div class="section5">
            <span class="s5-header">Let us help you find the perfect destination <span style="color: #3498a7">today.</span></span>
            <span class="s5-body">Let us know if you have questions!</span>
            <div class="s5-options-container">
                <button class="view-destinations-button" onclick="location.href='/searchresult'">VIEW DESTINATIONS</button>
                <button class="contact-us-button" onclick="location.href='mailto:info@juanderlust.com';">CONTACT US</button>
            </div>
        </div>
</div>