<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="btn-close ms-auto me-0" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body pt-0">
                <h5 class="modal-title text-center mt-0 mb-3 modal-title-custom" id="loginModalLabel">
                    Ready to <span ="text-color-custom" id="juander">juan</span>der?
                </h5>
                <div class="form-group mb-3">
                    <input type="text" class="form-control custom-input" id="loginUsername" placeholder="Username">
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control custom-input" id="loginPassword" placeholder="Password">
                </div>
                <div class="form-group form-check mb-3">
                    <div class="row">
                        <div class="col-auto">
                            <input type="checkbox" class="form-check-input" id="loginRememberMe">
                            <label class="form-check-label" for="loginRememberMe">Remember me</label>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="forgot-password">Forgot password?</a>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div>
                    <button type="button" class="btn btn-primary btn-block w-75" id="loginBtn">LOGIN</button>
                    <p class="mt-2 mb-0">Don't have an account? <a href="#registerModal" id="registerLink">Sign up</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="btn-close ms-auto me-0" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body pt-0">
                <h5 class="modal-title text-center mt-0 mb-3 modal-title-custom" id="registerModalLabel">
                    Hello, new <span class="text-color-custom" id="juander">Juan</span>derer!
                </h5>
                <form id="registerForm">
                    <div class="form-group mb-3">
                        <input type="text" class="form-control custom-input" id="registerUsername" placeholder="Username" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="form-control custom-input" id="registerPassword" placeholder="Password" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control custom-input" id="description3" placeholder="Description">
                    </div>
                    <div class="form-group mb-3">
                        <label for="role" class="form-label">Register as:</label>
                        <select class="form-control" id="role">
                            <option value="user">User</option>
                            <option value="owner">Owner</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="avatar" class="form-label">Upload your Avatar</label>
                        <input type="file" class="form-control" id="avatar" accept="image/*">
                    </div>

                    <div class="form-group owner-only" style="display: none;">
                        <label for="establishmentPhotos" class="form-label">Upload Establishment Photos</label>
                        <input type="file" class="form-control" id="establishmentPhotos" accept="image/*" multiple>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block w-75" style="background-color: #ff8a00;" id="signUpBtn">SIGN UP</button>
                            <p class="mt-2 mb-0">Have an account already? <a href="#loginModal" id="loginLink" style="color: #ff8a00;">Sign in</a>.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
