<div class="feedback-positioner">
                    <div class="feedback-container">
                        <div class="profile-container">
                            <img class="profile-picture" src="../images/bcc1.jpg">
                            <div class="post-details-container">
                                <span class="profile-name">{{feedback-user}}</span>
                                <span class="post-date">{{feedback-date}}</span>
                            </div>
                        </div>
                        <span class="feedback-content">
                            {{feedback-content}}
                        </span>

                        <div class="feedback-buttons-container">

                        <div class="edit-button-container">
                            <button class="edit-button" data-bs-toggle="modal" data-bs-target="#editFeedbackModal">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="delete-button-container" data-bs-toggle="modal">
                            <button class="delete-button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>

                        </div>

                    </div>
                </div>

<div class="pages-container">
    <button class="page-previous-button">&lt;</button>
    <div class="page-numbers-container">
        <!-- Page buttons will be dynamically added here -->
    </div>
    <button class="page-next-button" id="next-page">&gt;</button>
</div>    
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="static/js/indivpage.js"></script>
<script src="static/js/nav.js"></script>