@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PoppinsBold:wght@500&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION BAR */

.container {
    border: 5px;
    border-radius: 5px;
}

#logo{
    font-size: 30px;
    font-weight: bold;
}

.navbar {
    padding: 10px;
}

.rightalign button:hover{
    background-color: #ff8a00;
    color:white;
    border-radius: 20px;
}

.nav-link {
    background-color: transparent;
    color: black;
}

.navbar-nav .nav-item {
    list-style: none;
    font-size: 18px;
}
  

.nav-link:hover {
    background-color: #ff8a00;
    color:white;
    border-radius: 20px;
}
  
.nav-pills .nav-link:focus {
    color: #ff8a00;
    background-color: transparent;
}

.nav-pills .nav-link.active {
    background-color: #ff8a00;
    color: #ffffff;
}

#searchbar {
    margin-right:10px;
    margin-top:2.5px;
}

#login2, #save {
    background-color: #ff8a00;
}

/* REGISTER & LOGIN MODAL */

.modal-content .modal-title span {
    display: block;
    border-radius: 50px;
}
  
.modal-content .modal-title span.color-text {
    color: #3498a7;
}

.modal-dialog {
    max-width: 400px; 
    border-radius: 50px;
}

.form-spacer {
    margin-top: 135px;
}

.custom-input {
    background-color: #ebebeb;
}

.modal-title-custom {
    font-size: 40px;
    margin-top: -50px;
    margin-bottom: -10px;
    padding: auto;
}

.modal-title-custom {
    border-top: none;
}
  
.text-center a.forgot-password {
    border-bottom: none;
}

#juander-text {
    color: #3498a7;
    display: inline;
}

.forgot-password{
    color: #737373;
}

#loginBtn {
    background-color: #ff8a00;
}

#registerLink {
    color:#ff8a00;
}

/* SECTION 1 */

#section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
}

.container1 {
    padding: 30px;
    background-color: #f5f5f5;
}

#name {
    font-size: 45px;
    font-weight: bolder;
}

#photo1 {
    margin-top: 10px;
    float:left;
    width: 803px;
    height: 553px;
}

#photo2 {
    padding-top: 10px;
    width: 405px;
    float:left;
    vertical-align: top;
    scale:98%;
    margin-top: -8px;
    margin-left: 15px;
    height: 550px;
}

#photo3 {
    background-image: url("../images/Jelly.png");
    height: 263px;
    width: 409px;
}

#view {
    background-color: #ff8a00;
    height: 45px;
    width: 180px;
    text-align: center;
    color:white;
    font-size: 18px;
    border-radius: 20px;
    margin-top:-60px;
    float:right;
    margin-right: 10px;
}

#textbox1 {
    margin-top: 563px;
    background-color: white;
    width: 1187px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* SECTION 2 */

.carousel-inner {
    background-color: transparent;
    border-radius: 5px;
}
  
.carousel-item img {
    background-color: transparent;
}

.modal-header {
    background-color: white;
}

.modal-title {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.photo-gallery {
    max-width: 1000px;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    width: 10%;
 }
  
.carousel-control-prev-icon,
.carousel-control-next-icon {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
  
.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}
  
.carousel-control-prev:focus,
.carousel-control-next:focus {
    opacity: 1;
}
  
.carousel-control-prev {
    left: -50px;
}
  
.carousel-control-next {
    right: -50px;
}

#book {
    font-size: 30px;
    font-weight: bold;
    font-family: 'PoppinsBold', sans-serif;
}

/* SECTION 3 */

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s3-header-container {
    padding-top: 60px;
    padding-bottom: 30px;
    width: 1295px;
}

.s3-header {
    font-size: 30px;
    font-weight: bold;
    font-family: 'PoppinsBold', sans-serif;
}

.rating-container {
    display: flex;
    width: 1295px;
}

.rating {
    font-size: 45px;
    font-weight: 700;
}

.rating-divisor {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 5px;
}

.average-star-rating-container {
    display: flex;
    margin-top: 16px;
    margin-left: 20px;
}

.average-star-icon {
    height: 36px;
    width: 36px;
}

.review-count {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.options-container {
    display: inline-block;
    width: 1295px;
    margin-top: 30px;
}

.review-filter {
    padding: 10px;
    border: 1px solid #737373;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    letter-spacing: 0.5px;
    background-color: #f5f5f5;
}

.review-filter:hover {
    padding: 10px;
    border: 1px solid #ff8a00;
    border-radius: 20px;
    font-size: 16px;
    color: #ff8a00;
    letter-spacing: 0.5px;
    background-color: #fff4e6;
}

#all.review-filter {
    padding-left: 34px;
    padding-right: 34px;
}

#photos.review-filter {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 10px;
}

#top.review-filter {
    padding-left: 30px;
}

.dropdown-review-filter-container {
    display: inline;
    float: right;
}

.dropdown-review-filter {
    padding: 10px 10px 10px 14px;
    border: 1px solid #737373;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    letter-spacing: 0.5px;
    background-color: #f5f5f5;
}

.dropdown-review-filter:hover {
    padding: 10px 10px 10px 14px;
    border: 1px solid #ff8a00;
    border-radius: 20px;
    font-size: 16px;
    color: #ff8a00;
    letter-spacing: 0.5px;
    background-color: #fff4e6;
}

.review-positioner {
    width: 1295px;
    margin-top: 40px;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.profile-container {
    display: flex;
}

.profile-picture {
    width: 79px;
    height: 79px;
    border-radius: 50%;
}

.post-details-container {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 15px 12px;
}

.profile-name {
    font-size: 20px;
    font-weight: 500;
}

.post-date {
    font-size: 13px;
    font-weight: 500;
    color: #737373;
}

.review-rating-container {
    display: flex;
    margin-top: 10px;
}

.star-icon {
    width: 22px;
    height: 22px;
}

.rating-description {
    font-size: 16px;
    font-weight: 450;
    margin-left: 16px;
}

.review-content {
    font-size: 16px;
    font-weight: 450;
    margin-top: 12px;
}

.photo-album {
    display: flex;
    margin-top: 20px;
}

.photo-album-photo {
    width: 155px;
    height: 155px;
    border-radius: 8px;
    margin-right: 16px;
}

.helpful-container {
    display: flex;
    margin-top: 10px;
}

.helpful-icon {
    background-image: url('../images/thumbs_up.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.helpful-icon:hover {
    background-image: url('../images/thumbs_up_clicked.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.helpful-text {
    margin-top: 4px;
    margin-left: 6px;
    font-size: 14px;
    color: #737373;
}

.feedback-positioner {
    display: inline-block;
    width: 100%;
    margin-top: 35px;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    float: right;
    border: 2px solid black;
    border-radius: 30px;
    padding: 25px;
}

.pages-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.page-button {
    border: 1px solid #737373;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: 14px;
    color: black;
}

.page-button:hover {
    border: 1px solid #737373;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: 14px;
    color: white;
    background-color: #ff8a00;
}

#next-page.page-button {
    border: 1px solid #737373;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 14px;
    color: black;
}

#next-page.page-button:hover {
    border: 1px solid #737373;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 14px;
    color: white;
    background-color: #ff8a00;
}

.add-review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
}

.add-review {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff8a00;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    border-color:rgba(0, 0, 0, 0);
}

.review-modal-sizer {
    max-width: 600px;
}

.review-cancel-button {
    background-color: #8f8f8f;
}

.review-submit-button {
    background-color: #ff8a00;
}

.review-submit-button:hover {
    background-color: #b15e00;
}

/* SECTION 4 */

.section4-positioner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 1295px;
}

.s4-header {
    font-size: 30px;
    font-weight: bold;
    font-family: 'PoppinsBold', sans-serif;
    margin-bottom: 20px;
}

.section5-positioner {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/destination_cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section5 {
    display: flex;
    flex-direction: column;
    padding: 64px 20px 58px 20px;
    width: 1295px;
}

.s5-header {
    font-weight: 700;
    font-size: 31px;
    width: 40%;
}

.s5-body {
    margin-top: 16px;
    font-size: 14px;
    width: 40%;
}

.s5-options-container {
    display: flex;
    margin-top: 54px;
}

.view-destinations-button {
    background-color: #3498a7;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 14px 8px 14px;
    border-radius: 20px;
    border-color:rgba(0, 0, 0, 0);
}

.contact-us-button {
    background-color: #ff8a00;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 43px 8px 43px;
    border-radius: 20px;
    border-color:rgba(0, 0, 0, 0);
    margin-left: 26px;
}

/* FOOTER */

.footer-positioner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282A2A;
}

.footer {
    width: 1295px;
    text-align: center;
    padding: 40px 20px 10px 20px;
    color: white;
}

.footer h3 {
    color: #FF8A00;
    margin-bottom: 15px;
    font-weight: 700;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 122px;
}

.left-align-container {
    text-align: left;
}

.follow-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 122px;
}

.socmed-icons-container {
    display: flex;
    justify-content: flex-end;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a.logo-spacer {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.footer a:hover {
    color: #FF8A00;
}

.copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
